<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ServerPath" value="...\server.jar"/>
    <add key="ServerRAM" value="2048"/>
    <add key="ServerForceOnlineMode" value="false"/>
  </appSettings>
</configuration>